@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Our Marble Collection</h1>
    <ul id="marbleClass"></ul>
</div>

<div class="col-lg-6">
    <button class="btn-primary btn-block" onclick="randomMarble();">Give Me a Random Marble!</button>
    <div class="panel-body">
        <p><i class="glyphicon glyphicon-hand-right">&nbsp;&nbsp;</i><span id="randoClass"></span></p>
    </div>
</div>  
<div class="col-lg-6">
        <button class="btn-danger btn-block" onclick="addMarble();">I want to Add a Color.</button>
        <p><input class="panel-body" type="text" name="name" value="" id="ColorNew" placeholder="Color?" /></p>
</div>